.dropdown-container {
    
}

.dropdown-container select {
    padding:10px 20px;
    margin:10px;
    border:2px solid black;
    background: white;
    outline: 1px solid black;
    font-size:1em;
}

.dropdown-container select option {
    font-size: 1em;
}