#text-container {
    width:80%;
    max-width: 80%;
}
.text-input-item-container {
    display:flex;
    /* flex-direction: column; */
    padding:20px;
    align-items: center;
}

.text-input-item-container label {
    margin:20px;
    margin-left: 0;
}
.text-input-item-container input, .text-input-item-container textarea {
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1em;
    padding:10px;
}

.text-input-item-container input {
    /* max-width: 50%; */
}

.text-input-item-container textarea {
    flex: 4 4 0;
    width: 100%;
}
