#form-container {
    display:flex;
    height:100%;
    background:#f3f3f3;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0 0 50px 0;
}

form {
    flex-grow: 1;
    display:flex;
    align-items: center;
}

.solid-btn {
    border:none;
    padding:10px 25px;
    color:rgb(255, 255, 255);
    background:black;
    border-radius: 5px;
    transition-duration: 0.08s;
    transition-delay: 0.05s;
    box-shadow: 3px 3px 10px rgb(141, 141, 141);
}

.solid-btn:hover {
    color:black;
    outline:2px solid black;
    background-color: #f3f3f3;
}

#next-btn {
    position:fixed;
    right:0px;
    bottom:0px;
    margin:50px 100px;
}

button:hover {
    cursor:pointer;
}